<!-- Reply Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Check your replies</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <input type="text" id="name" placeholder="Put your name here">
<style type="text/css">
        input[type=text] {
          width: 200px;
          height: 20px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out;
          }

        input[type=text]:focus {
        width: 25%;
        }
      </style>
      </div>
      <div class="modal-body" ng-repeat="reply in replies">
        <ul>
          <label> name: {{reply.username}}</label>
          <br><label>Appointment at: {{reply.availableAppointments.date}} , {{reply.availableAppointments.time}}</label>
          <br><label>Your case: {{reply.patientCase}}</label>
          <br><label>Your reply: {{reply.reply}}</label>
          <br>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="getReplies()" ng-init="loadPage()">Get replies</button>
      </div>
    </div>
  </div>
</div>
<center>
    <strong><input type="text" ng-model="search" placeholder="Search....."></strong>
    <br>
    <br>
    <!-- Reply button it is here for complete the style when press on it will show the above div -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
      Check replies 
    </button>
      <style type="text/css">
        input[type=text] {
          width: 200px;
          height: 50px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out;
          }

  /* When the input field gets focus, change its width to 100% */
        input[type=text]:focus {
        width: 100%;
        }
        #doctorsDiv{
    opacity: 0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier */
        }
      </style>
</center>
<br>
<br>
<center>
<div class="btn-group">
  
 <button class="btn btn-success">
   <a href="#engineer  " ng-click="loadPage($event)" data-value="engineer" data-transition="slidedown" class="ui-btn ui-corner-all">Engineer</a>
 </button>


 <button class="btn btn-success">
   <a href="#teacher  " ng-click="loadPage($event)" data-value="teacher" data-transition="slidedown" class="ui-btn ui-corner-all">Teacher</a>
 </button>


 <button class="btn btn-success">
   <a href="#doctor  " ng-click="loadPage($event)" data-value="doctor" data-transition="slidedown" class="ui-btn ui-corner-all">Doctor</a>
 </button>


 <button class="btn btn-success">
   <a href="#plumber  " ng-click="loadPage($event)" data-value="plumber" data-transition="slidedown" class="ui-btn ui-corner-all">Plumber</a>
 </button>


 <button class="btn btn-success">
   <a href="#carpenter  " ng-click="loadPage($event)" data-value="carpenter" data-transition="slidedown" class="ui-btn ui-corner-all">Carpenter</a>
 </button>


 <button class="btn btn-success">
   <a href="#smith  " ng-click="loadPage($event)" data-value="smith" data-transition="slidedown" class="ui-btn ui-corner-all">Smith</a>
 </button>


<button class="btn btn-success">
   <a href="#chef  " ng-click="loadPage($event)" data-value="chef" data-transition="slidedown" class="ui-btn ui-corner-all">Chef</a>
 </button>


<button class="btn btn-success">
   <a href="#gillisChildren  " ng-click="loadPage($event)" data-value="gillisChildren" data-transition="slidedown" class="ui-btn ui-corner-all">Gillis children</a>
 </button>


 <br>
  <br>
  <br>
</div>
</center>
<div id="mainpage" ng-controller="AppCtrl" ng-init="loadPage()">
   <div style="margin-left: 2em">
      <div ng-show="true" class="media well well-fuild col-lg-6 col-lg-offset-3 col-md-6 col-sm-12" ng-repeat="doctor in doctors |filter:search | filter:joob" ng-show="engineer">
         <div class="media-left media-top">
            <div class="media-left">
               <img ng-src="{{'/uploads/' + doctor.image}}" class="media-object" style="width:80px" data-toggle="modal" data-target="#myAppointments" ng-click="getDoctorData(doctor.username)"/>
            </div>
            <div id="doctorsDiv" class="media-body">
               <h1 class="media-heading">{{doctor.job}}: {{doctor.username}}</h1>

               <h4>
                  Phone: {{doctor.phoneNumber}}
               </h4>
               <h4>
                  Specialization: {{doctor.specilization}}
               </h4>
               <h4>
                  Location: {{doctor.location}}
               </h4>
               <h4>
                  Job: {{doctor.job}}
               </h4>
            </div>
         </div>
      </div>
   </div>
   <!-- Modal addAppointments -->
   <!-- <div id="appointmentModal"></div> -->
   <!-- ng-init="getDoctorData('admin')" -->
   <div class="modal fade" id="myAppointments" role="dialog">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-body">
           <div class="media-left media-top">
             <div class="media-left">
               <img ng-src="{{'/uploads/' + currentDoctor.image}}" class="media-object" style="width:80px" data-toggle="modal" data-target="#myAppointments"/>
             </div>
             <div class="media-body">
               <h1 class="media-heading">{{currentDoctor.job}}: {{currentDoctor.username}}</h1>
               <p>
                 Phone: {{currentDoctor.phoneNumber}}
               </p>
               <p>
                 Specialization: {{currentDoctor.specilization}}
               </p>
               <p>
                 Location: {{currentDoctor.location}}
               </p>
               <p>
                 Job: {{currentDoctor.job}}
               </p>
               <div class="row">
                 <div class="col-lg-8">
                   <label>Appointments</label>
                   <select class="selectpicker" ng-model="timeA" ng-change="selectedValue()"><option ng-repeat="app in currentDoctor.availableAppointments">{{app.time}} {{app.date}}</option></select>
                   <div class="form-group">
                     <label for="usr">Name:</label> <input id="pName"
                     type="text" ng-model="nameVal" class=
                     "form-control" required="required"/>
                   </div>
                   <div class="form-group">
                     <label for="pwd">Phone:</label> <input id="pPhon"
                     type="text" class="form-control" ng-model=
                     "phoneVal" required="required"/>
                   </div>
                   <br />
                   <div class="form-group">
                     <label for="pwd">Your case:</label> <input id="pcase"
                     type="text" class="form-control" ng-model=
                     "caseVal"/>
                   </div>
                   <br />
                   <!-- <span id="doctorName"><font color=
                   "white">{{doctor.name}}</font></span> -->
                   <div class="modal-footer">
                     <button type="submit" class="btn btn-success" ng-click="reserveAppointment(timeVal)" data-dismiss="modal">Submit</button>
                     <button data-target="#addReview" class="btn btn-success" data-dismiss="modal" data-toggle="modal" id="addReviewButt" ng-click="sendReview(currentDoctor.username)">Add review</button>
                   </div>

                   <div class="form-group" id="addReview" role="dialog">
                      <label for="comment">If you have feedback you can add it here:</label>
                      <textarea class="form-control" rows="5" id="review"></textarea>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- </div><button ng-click="loadPage()" class="btn btn-danger">GetDoctors</button></div> -->
</div>
<style>
  .btn-success{
    background-color: rgba(255, 41, 98, 1); 
    color:white;
    font-weight: bold;
  }
  a{
    color: white;
  }
  a:hover{
    color: pink;
  }
  .btn-success:hover{
    background-color: blue;
    color: white;
  }
</style>